 *, *::after, *::before {
    box-sizing: border-box;
 }

:root {
    --hue: 200;
    --saturation: 50%;
    --foregroundcolor: hsl(var(--hue), var(--saturation), 75%);
    --backgroundcolor: hsl(var(--hue), var(--saturation), 20%);
}

 body {
    margin: 0;
    background-color: var(--backgroundcolor);
    overflow: hidden;
 }

 .paddle {
    --position: 50;

    position: absolute;
    background-color: var(--foregroundcolor);
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1.2vh;
    height: 10vh;
 }

 .paddle.left {
    left: 1.5vw;
 } 

 .paddle.right {
    right: 1.5vw;
 }
 
 .ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foregroundcolor);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    transform: translateY(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
 }

 .score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foregroundcolor);
 }

 /* all its descendent child */
 .score > * {
    flex-basis: 1;
    flex-grow: 1;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: 0.5;
}

 .score >:first-child {
    text-align: right;
    border-right: 0.5vh solid var(--foregroundcolor);
 }